# .env file

# Garmin Connect API Credentials
GARMINEMAIL=
GARMINPASSWORD=

# Token Storage Locations
GARMINTOKENS=~/.garminconnect
GARMINTOKENS_BASE64=~/.garminconnect_base64

#InfluxDB config
INFLUXHOST=
INFLUXPORT=
INFLUXUSER=
INFLUXPASS=
INFLUXDB=
